.custom-body-bg {
  background: rgb(108, 225, 247);
  background: radial-gradient(
    circle,
    rgba(108, 225, 247, 1) 10%,
    rgba(255, 255, 255, 1) 80%
  );
}

.custom-item-list{
  font-size: 23px;
}

h2{
  font-size: 30px;
  font-weight: bold;
}

.welcome-div {
  padding-right: 50px;
}

.contact-info-pharagraph{
  font-weight: bold;
  font-size: 20px;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.carousel-item-next,
.carousel-item-prev {
  transform: translateX(0);
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
}

.carousel-item img {
  width: 33.33%;
  flex: 0 0 auto;
}

.container-carousel{
    width: 500;
}

.img-carousel{
    width: 300px;
    height: 200px;
    padding: 20px;
}

@media (max-width: 768px) {
  .welcome-div {
    padding-right: 0px;
  }

  .img-carousel{
    width: 150px;
    height: 100px;
    padding: 10px;
}
}
